.ousi-card {
  background-color: var(--ousi-color-surface);
  color: var(--ousi-color-surface-foreground);
  border: 1px solid var(--ousi-color-border);
  box-shadow: var(--ousi-shadow-sm);
}

.ousi-card-header {
  padding: 1.5rem 1.5rem 0;
}

.ousi-card-body {
  padding: 1.5rem;
}

.ousi-card-footer {
  padding: 0 1.5rem 1.5rem;
}
