@layer base {
  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    /* Primitives */
    --ousi-white: oklch(100% 0 0);
    --ousi-black: oklch(0% 0 0);
    --ousi-snow: oklch(0.9911 0 0);
    --ousi-eclipse: oklch(0.2103 0.0059 285.89);

    /* System */
    --ousi-spacing: 0.25rem;
    --ousi-border-width: 1px;
    --ousi-field-border-width: 0px;
    --ousi-disabled-opacity: 0.5;
    --ousi-ring-offset-width: 2px;
    --ousi-cursor-interactive: pointer;
    --ousi-cursor-disabled: not-allowed;

    /* Component sizes */
    --ousi-checkbox-size: 20px;

    /* Radius */
    --ousi-radius: 0.5rem;
    --ousi-radius-field: calc(var(--ousi-radius) * 1.5);
    --ousi-radius-xs: calc(var(--ousi-radius) * 0.25);
    --ousi-radius-sm: calc(var(--ousi-radius) * 0.5);
    --ousi-radius-md: calc(var(--ousi-radius) * 0.75);
    --ousi-radius-lg: calc(var(--ousi-radius) * 1);
    --ousi-radius-xl: calc(var(--ousi-radius) * 1.5);
    --ousi-radius-2xl: calc(var(--ousi-radius) * 2);
    --ousi-radius-3xl: calc(var(--ousi-radius) * 3);
    --ousi-radius-4xl: calc(var(--ousi-radius) * 4);

    /* Colors */
    --ousi-background: oklch(12% 0.005 285.823);
    --ousi-foreground: var(--ousi-snow);
    --ousi-surface: oklch(0.2103 0.0059 285.89);
    --ousi-surface-secondary: oklch(0.257 0.0037 286.14);
    --ousi-surface-tertiary: oklch(0.2721 0.0024 247.91);
    --ousi-overlay: oklch(0.2103 0.0059 285.89);
    --ousi-overlay-foreground: var(--ousi-snow);
    --ousi-muted: oklch(70.5% 0.015 286.067);
    --ousi-default: oklch(27.4% 0.006 286.033);
    --ousi-default-foreground: var(--ousi-snow);
    --ousi-accent: oklch(0.6204 0.195 253.83);
    --ousi-accent-foreground: var(--ousi-snow);
    --ousi-success: oklch(0.7329 0.1935 150.81);
    --ousi-success-foreground: var(--ousi-eclipse);
    --ousi-warning: oklch(0.8203 0.1388 76.34);
    --ousi-warning-foreground: var(--ousi-eclipse);
    --ousi-danger: oklch(0.594 0.1967 24.63);
    --ousi-danger-foreground: var(--ousi-snow);
    --ousi-border: oklch(28% 0.006 286.033);
    --ousi-separator: oklch(25% 0.006 286.033);
    --ousi-focus: var(--ousi-accent);

    /* Fields */
    --ousi-field-background: oklch(0.2103 0.0059 285.89);
    --ousi-field-foreground: var(--ousi-foreground);
    --ousi-field-placeholder: var(--ousi-muted);
    --ousi-field-border: transparent;
    --ousi-field-hover: oklch(0.257 0.0037 286.14);
    --ousi-field-focus: oklch(0.2103 0.0059 285.89);

    /* Shadows */
    --ousi-shadow-surface: 0 0 0 0 transparent inset;
    --ousi-shadow-overlay: 0 0 1px 0 rgba(255,255,255,0.3) inset;
    --ousi-shadow-field: 0 0 0 0 transparent inset;

    /* Fonts */
    --ousi-font-sans: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --ousi-font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  }
}
